body {
    direction: rtl;
    background-image: url(../images/texture-brick-wall-hd-wallpaper-1080p.jpg);
    padding-top:5%;
}
#shadow{
    border-radius: 40px 8px;
    border-left: rgba(0, 0, 0, 0.76) solid 53px;
    border-bottom: rgba(0, 0, 0, 0.76) solid 53px;
    width:917px;
    height: 545px;
    margin:auto;
}
#container {
    width:912px;
    height:540px;
    background-image:url(../images/wallpaper.jpg);
    color:white;
    border: #57351e solid 20px;
    border-radius:10px;
    padding-bottom: 5px;
}
#top{
    width: 90%;
    margin: 5% auto 0 auto;
    height:100px;
}
h1 {
    font-size: 56pt;
    text-align: center;
    color: rgba(255, 248, 150, 0.69);
    -webkit-transition: color 0.5s, font-size 0.5s;
    -moz-transition: color 0.5s,font-size 0.5s ease-in-out;
    -ms-transition: color 0.5s,font-size 0.5s ease-in-out;
    -o-transition: color 0.5s,font-size 0.5s ease-in-out;
    transition: color 0.5s,font-size 0.5s ease-in-out;
    /*position:absolute;*/
}
h1 a{
    text-decoration: none;
    color: rgba(255, 248, 150, 0.69);
}
nav {
    height:5%;
}
h2 {
    font-size: 32pt;
    margin-bottom: 3%;
    color: rgb(172, 170, 255);
    margin-right: 4%;
}
h3 {
    font-size:24pt;
    margin-right:2%;
    margin-bottom: 3%;
}
/*p {*/
    /*font-size: 18pt;*/
    /*margin-right:4%;*/
/*}*/
#border1 {
    height: 100%;
    border-right: rgba(50, 27, 10, 0.94) solid 8px;
    border-top: rgba(50, 27, 10, 0.94) solid 5px;
    border-bottom: rgba(184, 99, 37, 0.94) solid 8px;
}
#border2 {
    height:100%;
    width:100%;
    margin-left: 20px;
}
.sec {
    float:right;
    width:50%;
    height:35%;
    -webkit-transition: font-size 1s, color 1s;
}
.info {
    height:inherit;
    width:100%;
    margin: 10% auto auto auto;
}
.sec:hover{
    font-size:56pt;
    color: rgba(218, 255, 215, 0.45);
}
.edu {
    float:right;
}
#kurs{
    margin-right:10%;
}
.tra:hover {
    -moz-transform: scale(1.1) rotate(5deg) skewX(2deg);
    -webkit-transform: scale(1.1) rotate(5deg) skewX(2deg);
    -o-transform: scale(1.1) rotate(5deg) skewX(2deg);
    -ms-transform: scale(1.1) rotate(5deg) skewX(2deg);
    transform: scale(1.1) rotate(5deg) skewX(2deg);
}
h1:hover{
    color: #adfffc;
    font-size:72pt;
}
.comm {
    float:right;
    width:20%;
    height:80%;
    margin: 5% 5% 0 0;
}
nav {
    width: inherit;
    height: inherit;
    margin: auto;
    /*margin-bottom: 5%;*/
}
nav ul {
    margin:auto;
}
nav ul li{
    display: inline-block;
    float:right;
    width:18%;
    height:90%;
    margin: auto;
}
nav ul li a:hover{
    color: #ffc5fb;
}
nav ul li a:active{
    font-size: 25pt;
}
nav ul li a{
    display:block;
    color:white;
    width:100%;
    height: 5%;
    margin:0 auto;
    text-decoration:none;
    font-size:24pt;
    text-align:center;
    -webkit-transition: color 0.5s ease-in-out;
    -moz-transition: color 0.5s ease-in-out;
    -ms-transition: color 0.5s ease-in-out;
    -o-transition: color 0.5s ease-in-out;
    transition: color 0.5s ease-in-out;
}
.br {
    height: 3px;
    width:800px;
    background-color:white;
    /*margin-bottom: 40px;*/
}
p {
    line-height: 30px;
    font-size: 30px;
    font-family: 'Varela Round', sans-serif;
    color: rgb(255, 209, 210);
    /*font-size: 18pt;*/
    margin-right:4%;
}
p>a {
    text-decoration:underlines;
    color:white;
}
p>a:hover{
    text-decoration: underline;
}
#emp, #edu, #hob, #abo, #con{
    color: #b5ffd6;
}